html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  font-size: 10px;
}

img {
  max-width: 100%;
}

.text {
  color: var(----color-black);
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
}

section {
  position: relative;
}

a {
  display: inline-block;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.center-horizontal {
  display: flex;
  justify-content: space-between;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-black);
  font-family: "Montserrat", sans-serif;
  font-size: 3.125rem;
  font-weight: 900;
  text-transform: uppercase;
}

.h2 {
  color: var(----color-black);
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.section {
  padding: 60px 0;
}

.btn {
  color: var(--color-white);
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-blue {
  border-radius: 2.188rem;
  background-color: var(--color-blue);
}

.btn-blue:hover {
  -webkit-box-shadow: -2px 4px 22px 0px rgba(35, 110, 255, 1);
  -moz-box-shadow: -2px 4px 22px 0px rgba(35, 110, 255, 1);
  box-shadow: -2px 4px 22px 0px rgba(35, 110, 255, 1);
}

.btn-grey {
  border-radius: 1.563rem;
  background-color: #eeeeee;
}

.btn-lg {
  font-family: "Open Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}

.btn-header {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 10px 21px;
  font-style: italic;
}
